@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";
body {
  overflow: hidden;
  margin: 0;
}
#word {
  font-family: Megrim, cursive;
  font-size: 20vh;
  position: absolute;
  margin: 10;
  /*bottom: 0;*/
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
}
.text {
  position: fixed;
  font-size: 100px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
